[Unit]
Description=Information Sharing Platform Resource Router
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=%APP_HOME%/sbin/%APP_NAME%.sysconfig
ExecStart=%APP_HOME%/sbin/%APP_NAME%.service.sh start
User=software
Group=admin
Restart=always

[Install]
WantedBy=multi-user.target
