[Unit]
Description=Information Services Resource V3 Router 
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=/soft/warehouse-apps-1.0/Manage-Resource-V3/PROD/sbin/route_resource_v3.sysconfig
ExecStart=/soft/warehouse-apps-1.0/Manage-Resource-V3/PROD/sbin/route_resource_v3.service.sh start
User=software
Group=admin
Restart=always

[Install]
WantedBy=multi-user.target
