#!/bin/sh

### BEGIN INIT INFO
# Provides:          route_resource_v3
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Route Resource-V3 information from a source to a destination
# Description:       Route Resource-V3 information from a {file, directory, amqp} to a {directory, api}
### END INIT INFO

# Change these lines to suit where you install your script and what you want to call it
DAEMON_NAME=route_resource_v3
APP_BASE=/soft/warehouse-apps-1.0/Manage-Resource-V3
APP_SOURCE=${APP_BASE}/PROD
WAREHOUSE_SOURCE=/soft/warehouse-1.0/PROD
DAEMON_BIN=${APP_SOURCE}/bin/$DAEMON_NAME.py
DAEMON_LOG=${APP_BASE}/var/${DAEMON_NAME}.daemon.log
if [[ "$2" != --pdb && "$3" != --pdb && "$4" != --pdb ]]; then
    exec >${DAEMON_LOG} 2>&1
fi

# Add any command line options for your daemon here
DAEMON_OPTS="-l info -c ${APP_BASE}/conf/${DAEMON_NAME}.conf"

# This next line determines what user the script runs as
DAEMON_USER=software

. /etc/init.d/functions

PYTHON_BASE=${APP_BASE}/`cat python/lib/python*/orig-prefix.txt`
export LD_LIBRARY_PATH=${PYTHON_BASE}/lib

PIPENV_BASE=${APP_BASE}/python
source ${PIPENV_BASE}/bin/activate

PYTHON_BIN=python3

export PYTHONPATH=${APP_SOURCE}/lib:${WAREHOUSE_SOURCE}/django_xsede_warehouse
export DJANGO_CONF=${APP_BASE}/conf/django_xsede_warehouse.conf
export DJANGO_SETTINGS_MODULE=xsede_warehouse.settings

do_start () {
    echo -n "Starting ${DAEMON_NAME}:"
    if [ `id -u` = 0 ] ; then
        su ${DAEMON_USER} -s /bin/sh -c "${PYTHON_BIN} ${DAEMON_BIN} start ${DAEMON_OPTS}"
        RETVAL=$?
    elif [ `id -u` = `id -u ${DAEMON_USER}` ] ; then
        ${PYTHON_BIN} ${DAEMON_BIN} start ${DAEMON_OPTS}
        RETVAL=$?
    else
        echo "Only root or ${DAEMON_USER} should run ${DAEMON_BIN}"
        RETVAL=99
    fi
}
do_stop () {
    echo -n "Stopping ${DAEMON_NAME}:"
    if [ `id -u` = 0 ] ; then
        su ${DAEMON_USER} -s /bin/sh -c "${PYTHON_BIN} ${DAEMON_BIN} stop ${DAEMON_OPTS}"
        RETVAL=$?
    elif [ `id -u` = `id -u ${DAEMON_USER}` ] ; then
        ${PYTHON_BIN} ${DAEMON_BIN} stop ${DAEMON_OPTS}
        RETVAL=$?
    else
        echo "Only root or ${DAEMON_USER} should run ${DAEMON_BIN}"
        RETVAL=99
    fi
}
do_debug () {
    echo -n "Debugging: ${PYTHON_BIN} ${DAEMON_BIN} $@ ${DAEMON_OPTS}"
    ${PYTHON_BIN} ${DAEMON_BIN} $@ ${DAEMON_OPTS}
    RETVAL=$?
}

case "$1" in

    start|stop)
        do_${1}
        ;;

    debug)
        do_debug ${@:2}
        ;;

    restart|reload|force-reload)
        do_stop
        do_start
        ;;

    status)
        echo "Haven't implemented status"
        ;;

    *)
        echo "Usage: /etc/init.d/${DAEMON_NAME} {start|stop|restart|status}"
        exit 1
        ;;

esac
echo rc=$RETVAL
exit $RETVAL
